html {
  font-size: 0.9rem;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 0 1em;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.small-text {
  font-size: 1rem;
  margin-top: 0.3125em;
}

img {
  max-width: 100%;
}

header,
section {
  padding: 6.25em 0;
}

header {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.inverse {
  color: #fff;
  background: #252525;
}

.btn {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  padding: 0.625em 1.5625em;
  margin-top: 1.125em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #99d930;
}

.btn:hover,
.btn:focus {
  background: #252525;
  color: #fff;
}

.bold-text {
  font-weight: 900;
  color: #99d930;
}

@media (min-width: 600px) {
  html {
    font-size: 1.3125rem;
  }
}

@media (min-width: 725px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main section {
    width: 50%;
  }

  .bg-green {
    background-color: #99d930;
  }

  .bg-green h2 {
    border-top: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
  }

  .bg-green,
  .bg-green .bold-text,
  .bg-green a {
    color: currentColor;
  }

  .bg-green a:hover,
  .bg-green a:focus {
    color: #252525;
  }
  .bg-green .btn {
    background-color: #252525;
    color: #fff;
  }

  .bg-green .btn:hover {
    background-color: #fff;
    color: #252525;
  }

  .portfolio {
    display: flex;
    align-items: center;
    background-color: #252525;
    color: #fff;
    min-height: 100vh;
  }

  .porfolio .container {
    max-width: 1200px;
  }

  .portfolio .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .portfolio-item {
    margin: 2em;
  }

  .portfolio-item img {
    width: 100%;
    height: 15em;
    object-fit: cover;
  }
}
