body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 300; 
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  margin-top: 0;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  
  padding: 20px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #99D930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.small-text {
  font-size: 16px;
  margin-top: 20px;
} 

header,
section {
  padding: 100px 0;
}

.inverse {
  color: #fff;
  background: #252525;
}

.btn {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #99D930;
  margin-top: 25px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 15px 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #252525;
  color: #fff;
}

.bold-text {
  font-weight: 900;
}
